@use '../../styles/abstracts' as *;

.not-found {
  &__inner {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-2;
    padding-block: $space-9;
    text-align: center;
  }

  &__code {
    margin: 0;
    font-size: $font-display-large;
    font-weight: $font-weight-extra-bold;
    line-height: 1;
    color: $color-primary-high;
  }

  &__title {
    margin: 0;
    font-size: $font-display-medium;
    font-weight: $font-weight-bold;
    color: $color-on-primary;
  }

  &__text {
    max-width: $size-15 * 5;
    margin: 0 0 $space-2;
    font-size: $font-body-large;
    color: $color-on-bg;
    overflow-wrap: anywhere;
  }
}
